.challDiv{
    background-color: blue;
    padding: 10px 10px;
    width: 200px;  
    height: 200px;
    margin-bottom: 10px;
}

.active{
    
    width: 300px;
    height: 300px;
    background-color: aqua;
}
